/* 
font-family: 'Cormorant Garamond', serif;
font-family: 'Dancing Script', cursive;
font-family: 'Licorice', cursive;
*/

body  {
    background-color: papayawhip;
    font-family: 'Cormorant Garamond', serif;
    font-size: 50px;
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 80px;
}

h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
}

.highlight {
    font-family: 'Licorice', cursive;
    color: rgb(65, 63, 61);
}

.wrapper {
    width: 70%;
    margin:80px auto
}

.bigger {
    font-size: 70px;
}