/* 
font-family: 'Cormorant Garamond', serif;
font-family: 'Dancing Script', cursive;
*/

body  {
    font-family: 'Cormorant Garamond', serif;
}

h1 {
    font-family: 'Dancing Script', cursive;
}

h2 {
    font-family: 'Dancing Script', cursive;
}